body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.wrapper {
  max-width: 1170px;
  margin: auto;
}

.navbar {
  height: 90px;
  text-align: center;
}

.navbar img {
  height: 70px;
  margin-top: 10px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.banner h1 {
  margin: 0 0 20px 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 20px 0 30px 0;
}

.btn {
  padding: 10px 15px;
  background: #06A591;
  border-radius: 4px;
  border: 2px solid #06A591;
  font-size: 16px !important;
  transition: 0.7s ease;
  color: white;
  text-decoration: none;
}

.btn-xl {
  padding: 15px 30px;
  font-size: 24px !important;
}

.btn-xl:hover {
  color: #06A591;
}

.btn:hover {
  background: none;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.container i {
  margin-right: 15px;
}

.bloc {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.bloc h3 {
  margin-top: 20px;
}

.bloc i {
  font-size: 32px;
  color: #06A591;
  margin: 30px 0;
}

.info p {
  text-align: left !important;
  margin: 40px 0 !important;
}

.card {
  width: 40%;
  padding: 20px;
  border-radius: 4px;
  border-top: 6px solid #06A591;
  transition: 0.7s ease;
  box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  text-align: center;
  margin: 30px 0;
}

.bloc-card {
  display: flex;
  justify-content: space-between;
}

.horaire {
  font-weight: bold;
}

.horaire-light {
  font-weight: bold;
  opacity: 0.5;
}

.themes {
  font-weight: bold;
  color: #06A591;
}

.info-sup {
  opacity: .5;
}

.description {
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description img {
  width: 200px;
}

.desc-info {
  width: 70%;
}

.plan {
  margin: 80px auto 80px auto;
  text-align: center;
}

.plan img {
  width: 70%;
  border-radius: 4px;
}

.btn-participe {
  text-align: center;
}

.btn-participe a {
  margin-top: 40px;
}

.wrapper-footer {
  box-shadow:0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  height: 250px;
  margin-top: 80px;
}

.footer img {
  width: 200px;
}
.footer {
  max-width: 1170px;
  margin: auto;
  display: flex !important;
  justify-content: space-between;
  align-items: center;

}

.footer-desc {
  margin-top: 100px;
}

.footer p {
  margin: 0;
  color: #06A591;
}

@media screen and (max-width: 600px) {
  .bloc-card {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
  }

  .card {
    width: 90%;
    margin: 10px auto;
  }

  .plan img {
    width: 100%;
  }

  .footer-desc{
    margin:30px 0;
  }

  .wrapper-footer {
    height: 300px;
  }
  .description {
    margin: 40px 10px 30px 10px;
    flex-direction: column;
  }
  .description img {
    width: 150px;
  }
  .container {
    margin-left: 10px !important;
  }
  .desc-info {
    margin-top: 20px;
    width: 95%;
  }
}
